<%-include ("partials/header.ejs")%>
<form action="/other_income" method="post" class="center">
	<div class="form-floating mb-3">
		<input type="text"  name="other_income_amount" class="form-control" <%=x.requ%> onkeypress="<%=x.nc%>">
		<label>other income amount</label><br><br>
	</div>
	<div class="form-floating mb-3">
		<input type="text"  name="growth" class="form-control" <%=x.requ%> onkeypress="<%=x.nc%>">
		<label>inflation (%)</label><br><br>
	</div>
	<button type="submit" class="btn btn-primary">continue</button>
</form>	
<%-include ("partials/footer.ejs")%> 